/*! Main page */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.hero {
  background: linear-gradient(135deg, #ff512f, #dd2476);
  color: white;
  padding: 60px 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  margin-bottom: 30px;
}

.hero-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: white;
  color: #dd2476;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.hero-button:hover {
  background-color: #ffe3e1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-button {
  padding: 15px 20px;
  font-size: 18px;
  background: #34495e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 260px;
  font-weight: bold;
}

.action-button:hover {
  background: #2c3e50;
}

/*! Solar Table  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

.loading,
.error {
  text-align: center;
  font-size: 18px;
}

.loading {
  color: #2980b9;
}

.error {
  color: #e74c3c;
}

.tableContainer {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.tableHeading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #34495e;
}

.tableWrapper {
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
}

.tableHeaderRow {
  background-color: #34495e;
  color: white;
}

.tableHeader,
.tableData {
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.tableRow {
  background-color: #ecf0f1;
}

.tableRow:nth-child(even) {
  background-color: #e0e0e0;
}

.tableData {
  border-bottom: 1px solid #ddd;
}

.highDanger {
  background-color: #ffdd57 !important;
  font-weight: bold;
  color: #c0392b;
}

.noData {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #7f8c8d;
}

@media (max-width: 768px) {
  .tableHeader,
  .tableData {
    font-size: 14px;
    padding: 8px;
  }

  .tableWrapper {
    overflow-x: scroll;
  }

  .table {
    min-width: 700px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 22px;
  }

  .tableHeader,
  .tableData {
    font-size: 12px;
    padding: 6px;
  }
}
